p-table {
    height: 100%;

    .p-datatable {
        .p-datatable-table-container {
            p-scroller {
                flex: 1;
                overflow-anchor: none;

                .p-datatable-table {
                    table-layout: var(--p-datatable-table-layout, fixed);
                }
            }
        }
    }
}
