<p-toolbar
    class="flex flex-1"
    [style]="{
        flex: 1,
        'border-width': '0 0 1px',
        '--p-toolbar-border-radius': 0,
        '--p-toolbar-background': 'transparent',
        '--p-toolbar-border-color': 'rgb(199, 199, 199)',
        '--p-toolbar-padding': '4px 18px 2px'
    }">
    <div class="p-toolbar-group-start">
        <p-breadcrumb
            class="font-light"
            [style]="{ 'font-size': '18px', '--p-breadcrumb-padding': 0 }"
            [model]="items() | removeLastMenuItemRouterLink" />
    </div>
    <div class="p-toolbar-group-end flex" style="min-width: 15%">
        <input
            #toolbarHeaderFilterInputRef
            id="toolbarHeaderFilterInput"
            class="flex-1"
            style="
                --p-inputtext-focus-ring-width: 0;
                --p-inputtext-sm-font-size: 0.813rem;
                --p-inputtext-border-color: #a0a0a0;
                --p-inputtext-border-radius: 0;
                --p-inputtext-sm-padding-x: 0.313rem;
                --p-inputtext-sm-padding-y: 0.22rem;
            "
            pSize="small"
            pInputText
            [placeholder]="filterPlaceholder()"
            (input)="filterValue.set(toolbarHeaderFilterInputRef.value)" />
    </div>
</p-toolbar>
