@font-face {
    font-family: 'tableau';
    src: url('/assets/fonts/tableau/woff2/tableau-regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'tableau';
    src: url('/assets/fonts/tableau/woff2/tableau-semi-bold.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
}
