<p-table
    #tableApplicationsRef
    [style]="{
        border: 'solid 1px #a0a0a0',
        '--p-datatable-transition-duration': 0
    }"
    [value]="data()"
    [columns]="columns()"
    [scrollable]="true"
    scrollHeight="flex"
    selectionMode="single"
    [(selection)]="selection"
    [virtualScroll]="true"
    [virtualScrollItemSize]="38"
    [globalFilterFields]="filterFields()">
    <ng-template #header let-columns>
        <tr
            style="
                height: 41px;
                font-size: 13px;
                --p-icon-size: 10px;
                --p-datatable-header-cell-border-color: #e0e0e0;
                --p-datatable-column-title-font-weight: 300;
                --p-datatable-header-cell-background: rgb(245, 245, 245);
                --p-datatable-header-cell-padding: 0.5rem 1rem;
                --p-datatable-header-cell-hover-background: rgb(245, 245, 245);
                --p-datatable-header-cell-selected-color: --p-datatable-header-cell-color;
                --p-datatable-header-cell-selected-background: #edf1f1;
            ">
            @for (col of columns; track col) {
                <th [pSortableColumn]="col.field" [style]="col.style">
                    {{ col.header }}
                    <p-sortIcon class="float-end" [field]="col.field" />
                </th>
            }
        </tr>
    </ng-template>
    <ng-template #body let-rowData let-columns="columns">
        <tr style="height: 38px; font-size: 13px; font-weight: 300;
                --p-datatable-body-cell-border-color: #e0e0e0; --p-datatable-body-cell-padding: 0.5rem 1rem; --p-datatable-row-hover-background: #fefaf1"
            [pSelectableRow]="rowData" [pSelectableRowDisabled]="true">
            @for (col of columns; track col) {
                <td class="truncate" [style]="col.style">
                    @switch (col.field) {
                        @case ('type') {
                            <i class="pi {{ deviceTypeIcons[rowData[col.field]] }}"></i>
                        }
                        @case ('identifiers') {
                            {{ rowData[col.field].join(', ') }}
                        }
                        @case ('rollouts') {
                            {{ rollouts[rowData.rollout] }}
                        }
                        @case ('lastMod') {
                            {{ rowData[col.field] | date: 'dd MMM, yyyy' }}
                        }
                        @default {
                            {{ rowData[col.field] }}
                        }
                    }
                </td>
            }
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr style="height: 38px; font-size: 13px; font-weight: 300;
                --p-datatable-body-cell-border-color: #e0e0e0; --p-datatable-body-cell-padding: 0.5rem 1rem; --p-datatable-row-hover-background: #fefaf1">
            <td class="select-none" [attr.colspan]="columns().length">
                {{ emptyMessage() }}
            </td>
        </tr>
    </ng-template>
</p-table>
