<p-toolbar class="flex flex-1"
           [style]="{ flex: 1, 'border-width': '0 0 1px', '--p-toolbar-border-radius': 0, '--p-toolbar-background': 'transparent', '--p-toolbar-padding' : '16px 18px' }">
    <div class="p-toolbar-group-start">
        <span class="select-none font-light" style="font-size: 19px">Managed Applications</span>
    </div>
    <div class="p-toolbar-group-end flex" style="min-width: 15%;">
        <input
            class="flex-1"
            style="--p-inputtext-border-color: #a0a0a0; --p-inputtext-border-radius: 0; --p-inputtext-sm-padding-x: 5px; --p-inputtext-sm-padding-y: 3px"
            placeholder="Search for Applications..." pInputText pSize="small" />
    </div>
</p-toolbar>
